@theme {

  /* FONT FAMILY */
  --font-body: var(--font-inter), -apple-system, "Segoe UI", Roboto, Arial,
  --font-display: var(--font-inter), -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  --font-mono: ui-monospace, "Roboto Mono", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

    /* SPACING BASE */
  --spacing: 0.25rem; /* (4px) */ 
  
  /* FONT SIZE */ 
  --text-xs: calc(var(--spacing) * 3);
  --text-xs--line-height: calc(var(--spacing) * 4.5); 

  --text-sm: calc(var(--spacing) * 3.5);
  --text-sm--line-height: calc(var(--spacing) * 5); 

  --text-md: calc(var(--spacing) * 4);
  --text-md--line-height: calc(var(--spacing) * 6);

  --text-lg: calc(var(--spacing) * 4.5);
  --text-lg--line-height: calc(var(--spacing) * 7);

  --text-xl: calc(var(--spacing) * 5);
  --text-xl--line-height: calc(var(--spacing) * 7.5);

  --text-display-xs: calc(var(--spacing) * 6);
  --text-display-xs--line-height: calc(var(--spacing) * 8);

  --text-display-sm: calc(var(--spacing) * 7.5);
  --text-display-sm--line-height: calc(var(--spacing) * 9.5);

  --text-display-md: calc(var(--spacing) * 9);
  --text-display-md--line-height: calc(var(--spacing) * 11);
  --text-display-md--letter-spacing: -0.72px;

  --text-display-lg: calc(var(--spacing) * 12);
  --text-display-lg--line-height: calc(var(--spacing) * 15);
  --text-display-lg--letter-spacing: -0.96px;

  --text-display-xl: calc(var(--spacing) * 15);
  --text-display-xl--line-height: calc(var(--spacing) * 18);
  --text-display-xl--letter-spacing: -1.2px;

  --text-display-2xl: calc(var(--spacing) * 18);
  --text-display-2xl--line-height: calc(var(--spacing) * 22.5);
  --text-display-2xl--letter-spacing: -1.44px;

  /* MAX WIDTH */
  --max-width-container: 1280px;

  /* BREAKPOINTS */
  --breakpoint-xxs: 320px;
  /* This must match the breakpoint in Sonner: https://github.com/emilkowalski/sonner/blob/main/src/styles.css */
  --breakpoint-xs: 480px;
  /* --breakpoint-xs: 600px; */

  /* RADIUS */
  --radius-none: 0px;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  /* SHADOW */
  --shadow-xs: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --shadow-sm: 0px 1px 3px rgba(10, 13, 18, 0.1),
    0px 1px 2px -1px rgba(10, 13, 18, 0.1);
  --shadow-md: 0px 4px 6px -1px rgba(10, 13, 18, 0.1),
    0px 2px 4px -2px rgba(10, 13, 18, 0.06);
  --shadow-lg: 0px 12px 16px -4px rgba(10, 13, 18, 0.08),
    0px 4px 6px -2px rgba(10, 13, 18, 0.03),
    0px 2px 2px -1px rgba(10, 13, 18, 0.04);
  --shadow-xl: 0px 20px 24px -4px rgba(10, 13, 18, 0.08),
    0px 8px 8px -4px rgba(10, 13, 18, 0.03),
    0px 3px 3px -1.5px rgba(10, 13, 18, 0.04);
  --shadow-2xl: 0px 24px 48px -12px rgba(10, 13, 18, 0.18),
    0px 4px 4px -2px rgba(10, 13, 18, 0.04);
  --shadow-3xl: 0px 32px 64px -12px rgba(10, 13, 18, 0.14),
    0px 5px 5px -2.5px rgba(10, 13, 18, 0.04);

  --shadow-skeumorphic: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset,
    0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset;
  --shadow-xs-skeumorphic: var(--shadow-skeumorphic), var(--shadow-xs);

  --shadow-modern-mockup-inner-lg: 0px 0px 3.765px 1.255px
      rgba(10, 13, 18, 0.08) inset,
    0px 0px 2.51px 1.255px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-md: 0px 0px 1.692px 0.564px
      rgba(10, 13, 18, 0.08) inset,
    0px 0px 1.128px 0.564px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-sm: 0px 0px 4.48px 1.493px rgba(10, 13, 18, 0.08)
      inset,
    0px 0px 2.987px 1.493px rgba(10, 13, 18, 0.03) inset;

  --shadow-modern-mockup-outer-lg: 0px 7.529px 10.039px -2.51px rgba(10, 13, 18, 0.08),
    0px 2.51px 3.765px -1.255px rgba(10, 13, 18, 0.03),
    0px 1.255px 1.255px -0.627px rgba(10, 13, 18, 0.04);
  --shadow-modern-mockup-outer-md: 0px 3.385px 4.513px -1.128px rgba(10, 13, 18, 0.08),
    0px 1.128px 1.692px -0.564px rgba(10, 13, 18, 0.03),
    0px 0.564px 0.564px -0.282px rgba(10, 13, 18, 0.04);

  --drop-shadow-iphone-mockup: 20px 12px 18px rgba(16, 24, 40, 0.2);

  /* ANIMATIONS */
  --animate-marquee: marquee 60s linear infinite;
  --animate-caret-blink: caret-blink 1s infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes caret-blink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }

  --radius: 0.625rem;
  --primary: #2C4647;
  --secondary: #b9a994;
  --background: oklch(1 0 0);
  --foreground: var(--primary);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #E8D8BE;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Grays */ 
  --color-gray-500: #919492;

  /*  UTILITIES */  

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  /* DARK MODE VARIABLES */

  .dark {
    --color-alpha-white: rgb(12 14 18);
    --color-alpha-black: rgb(255 255 255);
    --primary: #a9b4a4;
    --secondary: #e8d8be;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0); /* here*/
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    /* UTILITIES (this overrides the light mode ones when dark mode is applied)*/
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}
